<div>
  <h1>Data Sets</h1>
  <ul>
    <li ng-repeat="ds in datasets"><a ng-click="selectDataSet(ds)">{{::ds.name}}</a></li>
  </ul>

  <div ng-if="selectedDataSet">
    <form class="form-horizontal" name="{{'form_' + selectedDataSet.fullName}}" role="form" ng-submit="submit(selectedDataSet)">
      <legend ng-init="form = this['form_' + selectedDataSet.fullName]">{{::ds.name}}</legend>
      <p>{{selectedDataSet.description}}</p>
      <div ng-if="selectedDataSet.dependencies.length > 0">
        <h3>Dependencies</h3>
        <ul>
          <li ng-repeat="dep in selectedDataSet.dependencies">{{::datasets[dep].name}}</li>
        </ul>
      </div>

      <fieldset ng-repeat="ds in selectedDataSetList | filter : dataSetsWithProperties">
        <legend>Options - {{::ds.name}}</legend>
        <div class="form-group" ng-repeat="property in ds.properties" ng-class="{ required: property.required }">
          <label class="col-md-4 control-label" for="{{::property.fieldName}}">{{::property.name}}</label>
          <div class="col-md-6" ng-switch on="property.dataType">
            <input ng-switch-when="String" id="{{::property.fieldName}}" ng-required="{{::property.required}}" name="{{::property.fieldName}}" type="text" placeholder="{{::property.description}}" class="form-control input-md" ng-model="models[ds.fullName][property.fieldName]"/>
            <input ng-switch-when="Date" id="{{::property.fieldName}}" ng-required="{{::property.required}}" name="{{::property.fieldName}}" type="date" placeholder="{{::property.description}}" class="form-control input-md" ng-model="models[ds.fullName][property.fieldName]"/>
            <input ng-switch-when="DateTime" id="{{::property.fieldName}}" ng-required="{{::property.required}}" name="{{::property.fieldName}}" type="datetime" placeholder="{{::property.description}}" class="form-control input-md" ng-model="models[ds.fullName][property.fieldName]"/>
            <input ng-switch-when="Number" id="{{::property.fieldName}}" ng-required="{{::property.required}}" name="{{::property.fieldName}}" type="number" placeholder="{{::property.description}}" class="form-control input-md" ng-model="models[ds.fullName][property.fieldName]"/>
            <input ng-switch-when="Email" id="{{::property.fieldName}}" ng-required="{{::property.required}}" name="{{::property.fieldName}}" type="email" placeholder="{{::property.description}}" class="form-control input-md" ng-model="models[ds.fullName][property.fieldName]"/>
          </div>
        </div>
      </fieldset>
      <button id="submit" name="submit" class="btn btn-primary" ng-disabled="form.$invalid">Execute</button>
    </form>
  </div>
</div>
